<div class="container__big-card">
  <div class="big-card__photo">
    <img 
      src="https://assetsio.reedpopcdn.com/civil-war-still.jpg?width=1200&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp" 
      height=""
      width=""
      alt=""
    >
  </div>
  <div class="big-card__title">
    <a href="#"><h1>Saiu a nova versão do angular</h1></a>
  </div>
  <div class="big-card__description">
    <p> <a href="#"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi obcaecati tenetur minima quae numquam dolore adipisci aliquid repellat et atque recusandae, harum velit doloremque nostrum, aut quis quibusdam. Explicabo, necessitatibus?</a></p>
  </div>
</div>