<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img 
        src="https://www.oficinadanet.com.br/media/post/47556/1400/qual-a-ordem-para-assistir-todos-os-filmes-e-series-da-marvel.jpg" 
        height=""
        width=""
        alt=""
      >
    </div>
    <div class="small-card__title">
      <a href="#"><h1>Saiu a nova versão do angular</h1></a>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>
</div>